/*
 * Styles for ACP control calculator
 * (Fill in as desired)
 *
 * These should not conflict with bootstrap's CSS, but they may 
 * add more specific styles. 
 */
 body {
    background-color: lightblue;
    font-family: "Times New Roman", Times, serif;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }

