{% extends "base.html" %}
{% block content %}
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> 
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
  <head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" /> 
<h1>Here are your open and close times!</h1>
  
  {% for item in items %}
    <h1> Location: {{ item.location }} at km {{ item.distance }}</h1>
    <p> Open time: {{ item.opentime }} <p>
    <p> close time: {{ item.closetime }} <p>
    <p> <p>
  {% endfor %}
</body> </html>
{% endblock %}
